{% extends 'index.html' %}



{% block title %} - Прирачник за нарачка{% endblock %}



{% block content %}

<div class="container d-flex flex-column" style="height: 400px">

    <div class="row d-flex justify-content-center">
        <div class="col">
            <h2 class="mb-5">Чекори за нарачка : </h2>
        </div>

    </div>
    <div class="row d-flex justify-content-center">
        <!--<div class="col">-->
            <ul class="d-flex justify-content-center flex-column text-center" style="list-style-position: inside">

                <li >Регистрирајте или најавете се</li>
                <li >Одберете јадење</li>
                <li >Додадете нова адреса и податоци за контакт доколку немате</li>
                <li >Одберете термин за достава</li>
                <li > Внесете податоци од вашата платежна картичка и нарачајте</li>
            </ul>

    </div>

</div>

{% endblock %}